/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';


body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(170, 169, 169);
}

.centralziar {
  text-align: center;
}

.topo {
  top: 30vh;
  position: relative;
}
